#   ---------------------------------------
#   ALIASES
#   ---------------------------------------

# Abrir archivo directamente en Sublime
alias subl="open -a 'Sublime Text'"

# Entrar a mis sitios web
alias sites="cd ~/Code"

# Para moverse más cómodo por carpetas
alias ..="cd .."
alias ...="cd ../.."
alias ~="cd ~"
alias -- -="cd -"


# Esconder todos los iconos del desktop. Util para grabar tutoriales
# o hacer presentaciones
alias hideDesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showDesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'


# Fácil acceso a archivos de configuración
# de servidor local
alias hosts="subl /etc/hosts"
alias apache="subl /etc/apache2/httpd.conf"
alias vhosts="subl /etc/apache2/extra/httpd-vhosts.conf"
alias restart="sudo apachectl restart"
alias mysqls="mysql.server start"
alias bash="subl ~/.bash_profile"
alias so="source ~/.bash_profile"

# Direcciones IP
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"


# Alias de wp-cli
alias wpd="wp core download"
alias wpu="wp core update"
alias pluginu="wp plugin update --all"