[user]
	email = hola@saulsolorzano.com
	name = Saúl Solórzano
[alias]
	st = status
	ci = commit
	p = "!f() { git push -u origin $1; }; f"
	u = "!f() { git pull origin $1; }; f"
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
